#!/usr/bin/env perl

$ENV{MOD_PERL} or die "Not running under mod_perl";

[%- USE dir = Directory('/usr/share/webapp-toolkit/plugin_startup') -%]

[%- FOREACH file = dir.files %]
[% IF loop.count == 1 %]# Load before all other modules[% END %]
[% PROCESS "plugin_startup/$file.name" %]
[%- END -%]

use lib '[% apache_doc_root %]/app';

# Preload classes - Modules added here will be URI accessible
use [% project_title FILTER ucfirst %]::Example;

1;
